<sb-layout-auth>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Recuperar Senha</h3></div>
                    <div class="card-body">
                        <div class="small mb-3 text-muted">Digite seu e-mail e enviaremos um link para vocẽ redefinir sua senha.</div>
                        <form>
                            <div class="form-group"><label class="small mb-1" for="inputEmailAddress">E-mail</label><input class="form-control py-4" id="inputEmailAddress" type="email" aria-describedby="emailHelp" placeholder="Digite seu endereço de e-mail" /></div>
                            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0"><a class="small" routerLink="/auth/login">Retornar para login</a><a class="btn btn-primary" routerLink="/auth/login">Redefinir Senha</a></div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <div class="small"><a routerLink="/auth/register">Precisa de uma conta? Inscrever-se!</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</sb-layout-auth>
