:host {
  
    --ion-background-color: #fff;

    ion-content{
      --background: url(/assets/bg-splashscreen.jpg)  no-repeat cover fixed center;  
      background: url(/assets/bg-splashscreen.jpg) no-repeat fixed center; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
    }
    
    .logo  {
      text-align: center;
      margin-top: 10%;
      img {
        max-width: 100px;
      }
    }
    
    a {
      color: white;
      font-size: small;
      margin-top: 0px;
    }

    .btn-login {
      width: 50%;
      margin-top: 20px;
      font-weight: 900;
      font-size: large;
    }

    .btn-register {
      font-weight: 500;
      font-size: 1rem;
    }

    ion-item {
      --background: transparent;
      border: solid 2px #fff;
      border-radius: 10px;
      margin: 20px;
    }
  
    ion-grid {
      max-width: 540px;
    }
  
  }